# Postgres
POSTGRES_USER=admin
POSTGRES_PASS=admin
POSTGRES_DBNAME=orm-dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_URI=postgresql://admin:admin@localhost:5432/orm-dev
POSTGRES_ASYNC_DB_URI=postgresql+asyncpg://admin:admin@localhost:5432/orm-dev

# Open AI
OPENAI_API_KEY=<YOUR_OPENAI_KEY>
